.container {
	height: 100%;
	/* background-color: #1E1E1E; */
	/* color: #D4D4D4; */
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
	grid-template-rows: 3fr 7fr;
	/* padding-top: 20%; */
}

.image-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-height: 192px;
}

img{
	max-width: 192px;
	max-height: 192px;
	grid-column: 2/3;
	/* justify-self: center; */
}

.content {

	grid-column: 2/ 3;
	grid-row: 2 /3;
}

